* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f5f6f8;
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  justify-content: center;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
footer,
input,
textarea,
.copyright,
.button {
  line-height: 125%;
}

h1 {
  color: #3b3b3b;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

h2 {
  color: #3b3b3b;
  font-size: 28px;
  font-weight: bold;
  margin: 16px 0 8px 0;
}

h3 {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 4px 0;
}

h4 {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 4px;
}

h5 {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}

h6 {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}

a {
  color: #194b7d;
  text-decoration: none;
}

.outlineButton,
.button,
button {
  background-color: #194b7d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  white-space: nowrap;
}

footer {
  color: #9c9c9c;
  margin: 40px;
  text-align: center;
}

footer a {
  font-weight: bold;
}

.pageContainer {
  padding: 40px 50px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 960px;
  width: 100%;
  margin: 2rem auto;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline span {
  background-color: #f5f6f8;
  border-radius: 5px;
  padding: 6px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.headline img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.headline img:hover {
  transform: scale(1.1);
}

.reportContainer {
  margin: 30px auto;
  width: 100%;
}

.statusContainer {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding-top: 20px;
  text-align: left;
  padding: 24px;
}

.statusContainer+.statusContainer {
  margin-top: 30px;
}

.statusStreamContainer {
  display: flex;
  justify-content: space-between;
}

.statusSquare {
  border-radius: 3px;
  height: 30px;
  min-width: 8px;
  width: 100%;
}

.statusSquare:hover {
  transform: scaleY(1.2);
  overflow: hidden;
}

.statusSquare+.statusSquare {
  margin-left: 3px;
}

.sectionUrl {
  font-size: 14px;
  margin-right: 20px;
}

.statusHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}

.statusSubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.statusHeadline {
  color: #eee;
  padding: 0px 8px;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 3px;
}

.statusUptime {
  flex: 1;
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}

.tooltipContent {
  color: #7c7c7c;
  font-size: 13px;
}

.uptimeContainer {
  color: #999;
  display: flex;
  margin-top: 8px;
  font-size: 12px;
}

.uptimeContainer hr {
  border: none;
  border-top: 1px dashed #eee;
  width: 100%;
  margin: 10px;
}

.success {
  background-color: #00dfa2;
  color: #fff;
}

.failure {
  background-color: #ff0060;
  color: #fff;
}

.nodata {
  background-color: #dddddd;
  color: #ccc;
}

.partial {
  background-color: #ffb84c;
  color: #fff;
}


/* 响应式设计 */
@media screen and (max-width: 800px) {
  .pageContainer {
    padding: 30px 10px;
    margin: 0 auto 40px auto;
  }

  .statusHeader {
    display: flex;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline{
    margin-left: 0;
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusSquare+.statusSquare {
    margin-left: 1px;
  }

  .statusSquare {
    min-width: 4px;
    width: 100%;
  }
  .statusSquare {
    min-width: 5px;
    height: 30px;
  }
  .statusContainer{
    padding: 10px;
  }

}