html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  height: 4rem;
  border-bottom: 1px solid #dee2e6;
  transition: transform 0.2s ease; 
  transform: translateY(0); 
}

header.hidden {
  transform: translateY(-4rem); 
}

.headerinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  width: 55rem;
  padding: 0 1rem 0 1rem;
}

.headerleft {
  display: flex;
  align-items: center;
}

.headerinner img {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}

.headerinner a {
  display: flex;
  align-items: flex-end;
  color: #000000;
  font-size: 20px;
}

body {
  background-color: #ffffff;
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  justify-content: center;
  line-height: 20px;
  min-width: 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s;
}

/* 文本样式 */
h1,
h2,
h3,
h4,
h5,
h6,
button,
footer,
input,
textarea,
.copyright,
.button {
  line-height: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  margin: 0px;
}

h2 {
  font-size: 28px;
  margin: 16px 0 8px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 4px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 4px;
}

h5 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
}

h6 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
}

a {
  color: #005CC5;
  text-decoration: none;
}

/* 按钮样式 */
.outlineButton,
.button,
button {
  background-color: #194b7d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  white-space: nowrap;
}

footer {
  color: #9c9c9c;
  margin: 40px;
  text-align: center;
}

.pageContainer {
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px #dee2e6;
  border-radius: 5px;
  max-width: 850px;
  margin: 2rem auto;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem auto 0rem;
}

.headline span {
  padding: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.headline img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.headline img:hover {
  transform: scale(1.1);
}

.headline div {
  font-size: 14px;
  font-weight: 600;
  color: #7C7C7C;
}

.reportContainer {
  margin: 30px auto;
  width: 100%;
}

.statusContainer {
  border-radius: 5px;
  text-align: left;
  padding: 24px 24px 10px 24px;
  margin-top: 30px;
}

.statusStreamContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  max-width: 850px;
}

.statusSquare {
  border-radius: 3px;
  height: 30px;
  width: 10px;
  min-width: 5px;
  margin-right: 3px;
}

.statusSquare:hover {
  transform: scaleY(1.2);
  overflow: hidden;
}

.sectionUrl {
  font-size: 14px;
  margin-right: 20px;
}

.statusHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}

.statusSubtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.statusHeadline {
  color: #eee;
  padding: 0px 8px;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 3px;
}

.statusUptime {
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}

.tooltipContent {
  color: #7c7c7c;
  font-size: 13px;
}

.uptimeContainer {
  color: #999;
  display: flex;
  margin-top: 8px;
  font-size: 12px;
}

.uptimeContainer hr {
  border: none;
  border-top: 1px dashed #eee;
  width: 100%;
  margin: 10px;
}

.success {
  background-color: #00dfa2;
  color: #fff;
}

.failure {
  background-color: #ff0060;
  color: #fff;
}

.nodata {
  background-color: #dddddd;
  color: #ccc;
}

.partial {
  background-color: #ffb84c;
  color: #fff;
}

canvas {
  max-height: 128px;
  min-width: 100px;
  max-width: 850px;
  padding: 0rem 1rem 0rem 1.4rem;
}

.span-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 0px 24px;
}

.align-left {
  text-align: left;
  color: #7c7c7c;
  font-size: 12px;
}

.align-right {
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}

.clientInfo {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px #dee2e6;
  border-radius: 5px;
  padding: 10px;
  max-width: 850px;
  margin: 2rem auto;
}

.clientInfo span {
  white-space: pre-wrap;
  font-size: 13px;
  color: #555555;
}

/* 响应式设计 */
@media screen and (max-width: 576px) {
  .pageContainer {
    margin: 2rem 1rem;
    box-shadow: 0px 0px 2px 1px #dee2e6;
  }

  .statusHeader {
    display: flex;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline {
    margin-left: 12px;
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusStreamContainer {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 37px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .statusStreamContainer::-webkit-scrollbar {
    display: none;
  }

  .statusSquare {
    border-radius: 3px;
    min-width: 7px;
    height: 30px;
    width: 100%;
    margin-right: 1px;
  }

  .statusSquare:hover {
    transform: scaleY(1.2);
    overflow: hidden;
  }

  .statusContainer {
    padding: 10px;
    margin-top: 15px;
  }

  canvas {
    max-height: 128px;
    min-width: 100px;
    max-width: 850px;
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  .clientInfo {
    margin: 2rem 1rem;
  }
}

@media screen and (min-width: 578px) and (max-width: 768px) {
  .pageContainer {
    margin: 2rem 1rem;
    box-shadow: 0px 0px 2px 1px #dee2e6;
  }

  .statusHeader {
    display: flex;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline {
    margin-left: 12px;
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusStreamContainer {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 37px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .statusStreamContainer::-webkit-scrollbar {
    display: none;
  }

  .statusSquare {
    border-radius: 3px;
    min-width: 7px;
    height: 30px;
    width: 100%;
    margin-right: 1px;
  }

  .statusSquare:hover {
    transform: scaleY(1.2);
    overflow: hidden;
  }

  .statusContainer {
    padding: 10px;
    margin-top: 15px;
  }

  canvas {
    max-height: 128px;
    min-width: 100px;
    max-width: 850px;
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  .clientInfo {
    margin: 2rem 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .pageContainer {
    margin: 2rem auto;
    box-shadow: 0px 0px 2px 1px #dee2e6;
  }

  .statusHeader {
    display: flex;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline {
    margin-left: 12px;
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 3px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusStreamContainer {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 37px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .statusStreamContainer::-webkit-scrollbar {
    display: none;
  }

  .statusSquare {
    border-radius: 3px;
    min-width: 7px;
    height: 30px;
    width: 100%;
    margin-right: 2px;
  }

  .statusSquare:hover {
    transform: scaleY(1.2);
    overflow: hidden;
  }

  .statusContainer {
    padding: 24px 24px 10px 24px;
    margin-top: 15px;
  }

  canvas {
    max-height: 128px;
    min-width: 100px;
    max-width: 850px;
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  .clientInfo {
    margin: 2rem auto;
  }
}