html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  transition: transform 0.2s ease;
  transform: translateY(0);
}

header.hidden {
  transform: translateY(-4rem);
}

.headerinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 65rem;
  width: 55rem;
  padding: 0 1rem 0 1rem;
}

.headerleft {
  display: flex;
  align-items: center;
}

.headerinner img {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}

.headerinner a {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1.17rem;
}
.headerinner svg {
  margin-left: 0.5rem;
}


body {
  background-color: #f6f8fa;
  font-family:  -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Open Sans", "Segoe UI", "Noto Sans", Helvetica, "Apple Color Emoji", "Segoe UI Emoji";
  justify-content: center;
  line-height: 20px;
  min-width: 300px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s;
}


/* 文本样式 */
h1,
h2,
h3,
h4,
h5,
h6,
button,
footer,
input,
textarea,
.copyright,
.button {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202B36;
  font-weight: 500;
}

h1 {
  font-size: 32px;
  margin: 0px;
}

h2 {
  font-size: 28px;
  margin: 16px 0 8px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 4px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 4px;
}

h5 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
}

h6 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
}

a {
  color: #3eaf7c;
  text-decoration: none;
}

footer {
  color: #9c9c9c;
  margin: 40px;
  text-align: center;
  padding-bottom: 1rem;
}

.pageContainer {
  background-color: #fff;
  border-radius: 5px;
  max-width: 55rem;
  margin: 2rem auto;
  padding-bottom: 1.2rem;
}

.pageContainer,
.clientInfo {
  box-shadow: 0 16px 48px #E3E7EB;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto 0rem;
}

.headline span {
  padding: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.headline img {
  width: 50px;
  height: auto;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.headline img:hover {
  transform: scale(1.1);
}

.headline div {
  font-size: 14px;
  font-weight: 600;
  color: #7c7c7c;
}

.reportContainer {
  margin: 30px auto;
  width: 100%;
}

.statusContainer {
  border-radius: 5px;
  text-align: left;
  padding: 24px 24px 10px 24px;
  margin-top: 30px;
}

.statusStreamContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  /* max-width: 850px; */
  max-width: 55rem;
}

.statusSquare {
  border-radius: 3px;
  height: 30px;
  width: 10px;
  min-width: 5px;
  margin-right: 3px;
}

.statusSquare:hover {
  transform: scaleY(1.2);
  overflow: hidden;
}

.sectionUrl {
  font-size: 14px;
  margin-right: 20px;
}

.statusHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}

.statusSubtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.statusHeadline {
  color: #eee;
  padding: 0px 8px;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 3px;
}

.statusUptime {
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}

.success {
  background-color: #00dfa2;
  color: #fff;
}

.failure {
  background-color: #ff0060;
  color: #fff;
}

.nodata {
  background-color: #dddddd;
  color: #7c7c7c;
}

.partial {
  background-color: #ffb84c;
  color: #fff;
}

canvas {
  max-height: 128px;
  min-width: 100px;
  max-width: 55rem;
  padding: 0rem 1rem 0rem 1.4rem;
}

.span-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 0px 24px;
}

.align-left {
  text-align: left;
  color: #7c7c7c;
  font-size: 12px;
}

.align-right {
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}

.clientInfo {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  max-width: 55rem;
  margin: 2rem auto;
}

.clientInfo span {
  white-space: pre-wrap;
  font-size: 13px;
  color: #555555;
}

/* 日志重载时的遮罩 */
.reports-container {
  position: relative;
}

.loading-mask {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.loading-text {
  letter-spacing: 0.2em;
}

/* 加载动画 */
.loadinger {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#00dfa2 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: l6 1s infinite linear;
}

@keyframes l6 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

/* 图片跳动动画 */
#statusImg {
  transition: transform 0.5s ease-in-out;
}

.icobeat {
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}


/* 响应式设计 */
@media screen and (max-width: 576px) {
  .pageContainer {
    margin: 2rem 1rem;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline {
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusStreamContainer {
    overflow-x: scroll;
    height: 37px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 隐藏滚动条 */
  .statusStreamContainer::-webkit-scrollbar {
    display: none;
  }

  .statusSquare {
    min-width: 7px;
    width: 100%;
    margin-right: 1px;
  }


  .statusContainer {
    padding: 10px;
    margin-top: 15px;
  }

  canvas {
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  .clientInfo {
    max-width: calc(100% - 2rem);
  }

  .loading-mask {
    height: 14rem;
  }

}

@media screen and (min-width: 578px) and (max-width: 768px) {
  .pageContainer {
    margin: 2rem 1rem;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline {
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusStreamContainer {
    overflow-x: scroll;
    height: 37px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 隐藏滚动条 */
  .statusStreamContainer::-webkit-scrollbar {
    display: none;
  }

  .statusSquare {
    min-width: 7px;
    width: 100%;
    margin-right: 2px;
  }

  .statusContainer {
    padding: 10px;
    margin-top: 15px;
  }

  canvas {
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  .clientInfo {
    max-width: calc(100% - 2rem);
  }

  .loading-mask {
    height: 14rem;
  }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .pageContainer {
    margin: 2rem auto;
    max-width: calc(100% - 2rem);
  }

  .reportContainer {
    max-width: 55rem;
  }

  .statusSubtitle {
    align-items: baseline;
  }

  .sectionUrl {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusHeadline {
    margin-top: 0px;
  }

  .statusUptime {
    margin-left: 0;
    margin-top: 3px;
    text-align: right;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusStreamContainer {
    overflow-x: scroll;
    height: 37px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 隐藏滚动条 */
  .statusStreamContainer::-webkit-scrollbar {
    display: none;
  }

  .statusSquare {
    min-width: 7px;
    margin-right: 1px;
  }

  .statusContainer {
    margin-top: 15px;
  }

  canvas {
    padding: 0rem 0.2rem 0rem 0.5rem;
  }

  .clientInfo {
    max-width: calc(100% - 2rem);
  }

  .loading-mask {
    height: 20rem;
  }

}